* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(243, 240, 240, 0.856);
}

.hero {
    position: relative;
    height: 90vh;
    background: linear-gradient(135deg, #ff8f70, #ff3d54);
    border-bottom-left-radius: 100px;
    overflow: hidden;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: right -300px top -200px;
    opacity: 0.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    position: relative;
    z-index: 2;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.auth {
    display: flex;
    gap: 20px;
    align-items: center;
}

.login {
    text-decoration: none;
    color: white;
}

.signup {
    background: white;
    color: #ff3d54;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero-content {
    text-align: center;
    margin-top: 100px;
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.primary {
    background: white;
    color: #ff3d54;
}

.secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* Second-section styling */

.second-section {
    padding: 30px 100px;
    overflow: hidden;
    height: 550px
}

.second-section h2{
    padding: 5rem;
    text-align: center;
    font-size: 28px;
    color: #1f3f5b;

}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.content {
    flex: 1;
}

.first-content {
    margin-bottom: 40px;
}

.first-content h3, .second-content h3 {
    font-size: 18px;
    color: #1f3f5b;
    margin-bottom: 10px;
}

.first-content p, .second-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #4b5862;
}

.image-content {
  flex: 1;
  position: relative;
}

.image-content img {
    width: 100%;
    max-width: 700px;
    display: block;
    position: absolute;
    right: -250px;
    top: -250px;
}

/* Third Section Styling */

.third-section {
    background-color: #2c3e50;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 60vh;
    margin-top: 50px;
    border-radius: 0 100px 0 100px;
}

.second-image-content {
    flex: 1;
    position: relative;
}

.second-image-content img {
    width: 100%;
    max-width: 600px;
    display: block;
}

.third-section-content {
    flex: 1;
    color: white;
}

.third-section-content h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.third-section-content p {
    font-size: 14px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.85);
}



/* Footer  */
.footer-container {
  background:  #2c2d3f; 
  color: white;
  display: flex;
  gap: 235px;
  /* justify-content: space-between; */
  padding: 64px 100px;
  border-radius: 0 60px 0 0;
}

.footer-h1{
    font-size: 24px;
    font-weight: 700;
}

.footer-col h3{
    font-size: 16px;
}

.footer-col ul{
    list-style: none;
    margin-top: 20px;
    
}
.footer-col a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 0;

}


.laptop-container {
  padding: 64px 100px;
  background: #f5f7ff;
  
}

.laptop-inner {
    
  /* max-width: 1100px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;

}

.laptop-image {
  flex: 1 1 320px;
  text-align: center;
  margin-left: -480px;
  
}

.laptop-image img {
  width: 100%;
  max-width: 700px;
  display: inline-block;
}
 
.laptop-text {
  flex: 1 1 320px;
  max-width: 600px;
} 

.laptop-text h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #2d314d;
  
}

.laptop-text h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #2d314d;
}

.laptop-text p {
  color: #9194a1;
  line-height: 1.6;
  margin-top: 10px;
}
